* 
  font-family 'JetBrains Mono'

body 
  margin 0
  background-color #282a36
  color #f8f8f2
  overflow hidden
  display flex

#code
#preview 
  height 100vh
  width 50vw

#preview 
  overflow-y scroll
  padding-top 3px
  word-wrap break-word

#separator 
  height 100vh
  width 2px
  background-color #8be9fd
  float left
  margin 0 10px

.cm-tooltip
  background-color #1e1f29 !important
